<template>
    <div>
        <button @click="diceRoll">Roll Dice</button>
        <br></br>
        <span>Dice values:{{ dice }}</span>
    </div>
</template>

<script>
export default {
    name: 'diceRoller',

    data: function() {
        return {
            dice:[]
        }
    },

    methods:{
        diceRoll() {
            this.dice = []
            for (var i = 5 - 1; i >= 0; i--) {
                let random = Math.max((Math.random()*6).toFixed(0),1)
                this.dice.push(random)
                this.dice.sort(function(a,b){return a-b})
            }
        }   
    }
}
</script>