<template>
    <diceRoller></diceRoller>
</template>

<script>
import diceRoller from './diceRoller'

export default {
    name: 'YahtzeeTable',
    components: {
        diceRoller
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
