<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Grocery List</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="root">
    <span>Item Name:</span>
    <input type="text" v-model="itemName">
    <br>
    <span>Item Price:</span>
    <input type="number" v-model="itemPrice">
    <br>
    <button @click="addItem">Add Item</button>
    <br><br>

    <grocery-table :grocery_list="grocery_list"></grocery-table>
</div>

<script>
    Vue.component('grocery-table', {
        template: `
            <table >
                <thead>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </thead>
                <tr v-for="item in grocery_list">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <button @click="add(item, -1)"> - </button>
                        {{ item.amount }}
                        <button @click="add(item, 1)"> + </button>
                    </td>
                    <td>{{ item.cost }}</td>
                    <td><button @click="remove(grocery_list, item)">Remove</button></td>
                </tr>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ calculateTotalCost }} euro</td>
                </tr>
            </table>
        `,

        props: ['grocery_list'],

        methods: {
            add(item, amount) {
                item.amount += amount;
                item.cost = item.price * item.amount
            },

            remove(list, item) {
                for (var i = list.length - 1; i >= 0; i--) {
                    list[i].name === item.name ? list.splice(i, 1) : 0
                }
            }
        },

        computed: {
            calculateTotalCost(obj) {
                let total = 0;

                for (item of obj.grocery_list) {
                    total += item.cost;
                }

                return total;
            }
        }
    });

    new Vue({
        el: '#root',
        
        data: {
            itemName: '',
            itemPrice: '',
            grocery_list: [
                {name: 'Bread', price: 1, amount: 0, cost: 0 },
                {name: 'Broccoli', price: 0.99, amount: 0, cost: 0 },
                {name: 'Currant buns', price: 1.20, amount: 0, cost: 0 },
                {name: 'Nuts', price: 2.99, amount: 0, cost: 0 }
            ],
        },

        methods: {
            addItem() {
                this.grocery_list.push({
                    name: this.itemName,
                    price: this.itemPrice,
                    amount:0,
                    cost:0
                })
            }
        }
    })
</script>
</body>
</html>